<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<script>
    window.toastMessage = "<%= toastMessage || '' %>";
    window.userView = "<%= userView || '' %>";
</script>


<%- include('partials/page/head') %>

<body data-logged-in="<%= user ? 'true' : 'false' %>">
    <%- include('partials/page/toast', { toastMessage }) %>

    <%- include('partials/auth/login') %>
    <%- include('partials/page/header') %>

    <main>

        <%- include('partials/notes/noteForm') %>
        <div id="containerBoxes">
            <% if (userView === 'home') { %>
            <%- include('partials/boxes/newBoxForm') %>
            <% } %>

            <div id="userBoxes">
                <% boxes.forEach(box => { %>
                <%- include('partials/boxes/box', { box }) %>
                <% }) %>
            </div>
        </div>
    </main>

    <%- include('partials/page/footer') %>

</body>

</html>