<!-- views/partials/boxes/box.ejs -->

<div class="box <%= box.colour %>" data-box-id="<%= box._id %>">

    <h2><%= box.title %></h2>

    <%- include('./boxMenu') %>
    <%- include('./editBoxForm', { box }) %>

    <div class="boxNotes">

        <% notes.filter(note => note.boxId.toString() === box._id.toString()).forEach(note => { %>
        <%- include('../notes/note', { boxId: box._id, note }) %>
        <% }) %>

    </div>
    <%- include('./boxOrder.ejs', { box }) %>

</div>