<!-- box.ejs -->

<div class="box <%= box.colour %>" data-box-id="<%= box._id %>">

    <h2><%= box.title %></h2>
    <!-- editBoxForm partials will go here -->
    <%- include('./boxMenu') %>
    <%- include('./editBoxForm', { box }) %>
    <div class="boxNotes">

        <% notes.filter(note => note.boxId.toString() === box._id.toString()).forEach(note => { %>
        <%- include('../notes/note', { boxId: box._id, note }) %>
        <% }) %>

    </div>

    <button type="button" class="newNoteBtn" data-box-id="<%= box._id %>" data-colour="<%= box.colour %>"
        aria-label="Add Thought to Box"><i data-feather="plus"></i><i data-feather="message-square"></i></button>
</div>