<!-- views/partials/boxes/box.ejs -->

<div class="box <%= box.colour %>" data-box-id="<%= box._id %>">

    <h2><%= box.title %></h2>

    <%- include('./boxMenu') %>
    <%- include('./editBoxForm', { box }) %>

    <div class="boxNotes">

        <% const boxNotes = notes.filter(note => note.boxId.toString() === box._id.toString()) %>
        <% if (boxNotes.length != 0) { %>
        <% boxNotes.forEach(note => { %>
        <%- include('../notes/note', { boxId: box._id, note }) %>
        <% }) %>
        <% } else  { %>
        <%- include('./emptyBox', { box} ) %>
        <% } %>
    </div>

    <%- include('./boxOrder.ejs', { box }) %>

</div>