<!-- views/partials/boxes/boxMenu.ejs -->
<% const isArchive = userView === "archive"; %>

<div class="boxMenu">
        <button type="button" class="boxMenuMainBtn smallBtn" data-box-id="<%= box._id %>" aria-label="Box Menu"><i
                        data-feather="menu"></i></button>

        <div class="boxMenuBtns collapsed <%= box.colour %>" data-box-id="<%= box._id %>">

                <button type="button" class="newNoteBtn" title="Add Thought to Box" data-box-id="<%= box._id %>"
                        data-colour="<%= box.colour %>" aria-label="Add Thought to Box"
                        <%= isArchive ? "disabled" : "" %>><i data-feather="plus"></i><i
                                data-feather="message-square"></i>
                </button>


                <button type="button" class="editBoxBtn smallBtn" title="Edit Box" data-box-id="<%= box._id %>"
                        aria-label="Edit Box" <%= isArchive ? "disabled" : "" %>><i data-feather="edit"></i></button>

                <form class="archiveBox" data-box-id="<%= box._id %>" method="POST"
                        action="/boxes/archive/<%= box._id %>?_method=PUT">
                        <button type="submit" class="archiveBoxBtn smallBtn" title="Archive/Unarchive"
                                data-box-id="<%= box._id %>" aria-label="Archive / Unarchive"><i
                                        data-feather="archive"></i></button></form>

                <form class="deleteBox" data-box-id="<%= box._id %>" method="POST"
                        action="/boxes/delete/<%= box._id %>?_method=DELETE">
                        <button type="submit" class="deleteBoxBtn smallBtn" title="Delete Box (Permanent)"
                                data-box-id="<%= box._id %>" aria-label="
                                Delete Box (Permanent)"><i data-feather="trash-2"></i></button></form>
        </div>
</div>