<!-- view/partials/notes/noteOrder.ejs  -->

<div class="noteOrderBtns">
  <form class="moveNoteUp" data-box-id="<%= box._id %>" data-note-id="<%= note._id %>"
    data-note-order="<%= note.order %>" method="POST" action="/notes/order/<%= note._id %>/up?_method=PUT">
    <button type="submit" data-box-id="<%= box._id %>" data-note-id="<%= note._id %>"
      data-note-order="<%= note.order %>" class="noteUpBtn noteOrderBtn"><i data-feather="arrow-up"></i></button></form>
  <form class="moveNoteDown" data-box-id="<%= box._id %>" data-note-id="<%= note._id %>"
    data-note-order="<%= note.order %>" method="POST" action="/notes/order/<%= note._id %>/down?_method=PUT">
    <button type="submit" data-box-id="<%= box._id %>" data-note-id="<%= note._id %>"
      data-note-order="<%= note.order %>" class="noteDownBtn noteOrderBtn"><i data-feather="arrow-down"></i></button>
  </form>
</div>