<!-- noteMenu.ejs -->

<div class="noteMenu" data-note-id="<%= note._id %>">
        <div class="noteMenuHead">
                <form class="noteExpandCollapseBtns" data-note-id="<%= note._id %>" method="POST"
                        action="/notes/collapse/<%= note._id %>?_method=PUT">
                        <button type="submit" class="expandNoteBtn smallBtn <%= note.collapsed ? '' : 'collapsed' %>"
                                name="collapsed" value="false" data-note-id="<%= note._id %>"><i
                                        data-feather="chevrons-down"></i></button>
                        <button type="submit" class="collapseNoteBtn smallBtn <%= note.collapsed ? 'collapsed' : '' %>"
                                name="collapsed" value="true" data-note-id="<%= note._id %>"><i
                                        data-feather="chevrons-up"></i></button>
                </form>
                <button type="button" class="noteMenuMainBtn smallBtn" data-note-id="<%= note._id %>"
                        aria-label="Thought Menu"><i data-feather="menu"></i></button>
        </div>
        <div class="noteMenuBtns collapsed <%= note.colour %>" data-note-id="<%= note._id %>">

                <button type="button" class="editNoteBtn smallBtn" title="Edit Thought" data-note-id="<%= note._id %>"
                        data-box-id="<%= box._id %>" data-note-title="<%= note.title %>"
                        data-note-colour="<%= note.colour %>" data-note-type="<%= note.type %>"
                        data-note-text="<%= note.text || ''%>" data-note-img-src="<%= note.image?.src || ''%>"
                        data-note-img-desc="<%= note.image?.desc || ''%>"
                        data-note-tags="<%= (note.tags || []).join(', ') %>" aria-label="Edit Thought">
                        <i data-feather="edit"></i>
                </button>

                <button type="button" class="moveNoteBtn smallBtn" title="Move Thought" data-note-id="<%= note._id %>"
                        aria-label="Move Thought"><i data-feather="move"></i></button>

                <button type="button" class="archiveNoteBtn smallBtn" title="Send to Storage (Archive)"
                        data-note-id="<%= note._id %>" aria-label="Send to Storage (Archive)"><i
                                data-feather="archive"></i></button>

                <form class="deleteNote" data-note-id="<%= note._id %>" method="POST"
                        action="/notes/delete/<%= note._id %>?_method=DELETE">
                        <button type="submit" class="deleteNoteBtn smallBtn" title="Delete Thought (Permanent)"
                                data-note-id="<%= note._id %>" aria-label="
            Delete Thought (Permanent)"><i data-feather="trash-2"></i></button>
                </form>
        </div>
</div>